HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
src/main/resources/static/frontend/node_modules
/node_modules
src/main/resources/static/frontend/.pnp
src/main/resources/static/frontend/.pnp.js

# testing
src/main/resources/static/frontend/coverage

# production
src/main/resources/static/frontend/build

# misc
src/main/resources/static/frontend/.DS_Store
src/main/resources/static/frontend/.env.local
src/main/resources/static/frontend/.env.development.local
src/main/resources/static/frontend/.env.test.local
src/main/resources/static/frontend/.env.production.local

src/main/resources/static/frontend/npm-debug.log*
src/main/resources/static/frontend/yarn-debug.log*
src/main/resources/static/frontend/yarn-error.log*
